body{
    background-color: #02010a;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    height: 100%;
    
}
.contenido{
    width: 90%;
    height: 90%;
    margin: auto;
}

.cabezera{
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: #5b7989;
}
div .titulo{
    color: white;
    text-shadow: 2px 2px 2px #02010a;
    margin: auto;
    font-size: 212%;
    text-align: center;
    
}
div .menu{
    font-size: 136%;
    margin: auto;
}

a{
    list-style-type: none;
    color: white;
    text-decoration: none;
}
.menu ul{
    
    margin-left: -8%;
}
.menu li{
    list-style-type: none;
    display: inline-block;
    color: white;
}
.subcontenido{
    background-color: #E1BB68;
    width: 100%;
}
.central{
    background-color:  #82c3a6;
    margin: auto;
    padding-top: 1%;

}
.central img{
    margin: auto;
    width: 70%;
    border: none;
}

img{
    transition: all 1s;
    margin: auto;
    display:block;
    width: 95%;
    border: 1px solid #d5c75f;
}
.secundarias{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.sec{
    margin: auto;
    text-align: center;
	width:300px;
}
.sec a{
    color: black;
}
#img01:hover{
    transition: all 1s;
    transform: rotate(10deg);
    box-shadow: 2px 2px 2px #82c3a6;
}
#img02:hover{
    transform: translate(20px,-5px);
    box-shadow: 2px 2px 2px #82c3a6;
}
.footer{
    border-radius: 0 0 10px 10px;
    background-color: #C6d5c5;
    margin-top: -2%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.footer a{
    color: black;
}
.con{
    margin-left: 0.5%;
	width:200px;
	font-size:20px;
}
#img01{
    filter: blur(10px)
}
#img02{
    filter: grayscale(100%)
}
#img03{
    filter: sepia(90%)
}
#img04{
    filter: grayscale(100%)
}
#img06{
    filter: grayscale(100%)
}
.imagen img{
    margin: auto;
    flex: 20%;
    text-align: center;
	width:270px;
}
.imgs{
    background-color: #E1BB68;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}